.runningShoeSpinner {
    animation: spin 1s linear infinite;
    filter: hue-rotate(90deg) brightness(1.5);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  