.mainHeader{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(63 65 181);
  }
  
  .headerText {
    font-size: 15px;
    margin: 0px 10px;
    color:  rgb(63 65 181);
  }
    
  .projectLogo {
    background-image: url('../image/runner.jpg');
    background-size: 4rem;
    width: 60px;
    height: 60px;
  }
  
  .spacer {
    flex-grow: 1;
  }
  .link {
    margin-left: 20px;
    color:rgb(63 65 181);
    text-decoration-color: rgb(63 65 181);
  }
button{
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1px grey;
}
.imageProfile{
  background-image: url('../image/avatar.jpeg');
  background-size: 3rem;
  border: solid 1px grey;
  margin-left: 5px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.btns{
  margin-bottom: 1rem;
}

.btns a{
    text-decoration: none;
    color: black;
}