.mainHeader{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(63 65 181);
  }
  
  .headerText {
    font-size: 24px;
    margin: 0px 10px;
  }
    
  .projectLogo {
    background-image: url('../image/runner.jpg');
    background-size: 4rem;
    width: 60px;
    height: 60px;
  }
  
  .spacer {
    flex-grow: 1;
  }

  .link {
    margin-left: 20px;
    color:rgb(63 65 181);
    text-decoration-color: rgb(63 65 181);
  }