.login{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 35%;
    padding-top: 80px;

}
.buttonLogin{
    background-color: #439f43;
    font-size: 20px;
    font-family: sans-serif;
    height: 40px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    display: flex;
    position: relative;
    margin-top: -7rem;
    align-items: center;
    justify-content: center;
}
.link{
    color: white !important;
    text-decoration: none !important;
}
.loginPage{
    margin-top: 100px;
}

/* Form Container */
.formContainer {
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10%;
    align-items: center;

  }
  
  /* Form Header */
  .formHeader {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .formHeader h2 {
    font-size: 24px;
    color: #333;
  }
  
  /* Form Input Fields */
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .formGroup input[type="text"],
  .formGroup input[type="email"],
  .formGroup input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form Button */
  .formBtn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(35, 196, 43);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formBtn:hover {
    background-color: #0056b3;
  }
  .createAccount:hover{
    background-color: initial;
    color: initial;
    position: fixed;
  }
  .createAccountLink:hover {
    text-decoration: none;
    cursor: none;
  }