.profileContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}
  
.profilePicture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.profileDetails {
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgb(40 173 57 / 40%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
  
.profileName {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
  
  .profile-email {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
  }
  
.profileInfo {
    list-style: none;
    padding: 0;
}
  
.profileInfo li {
    font-size: 16px;
    color: #444444;
    margin-bottom: 5px;
}
.backButton {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 1000;
    color: #4CAF50;
}
  